@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
section {
  background-color: var(--dark-cyan);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.card {
  background: white;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  position: relative;
}
.card-header {
  background-image: url(images/bg-pattern-card.svg);
  background-size: cover;
  height: 150px;
}
.img-holder {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -55px auto 20px auto;
}

.img-holder img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 0 20px 25px;
}

.age,
.city,
.meta {
  font-weight: 400;
  color: var(--dark-grayish-blue);
  opacity: 0.5;
}

.age {
  font-weight: 400;
  margin-left: 6px;
}

.name-age {
  font-size: 1.1rem;
  margin-bottom: 12px;
}

.city {
  font-size: 0.9rem;
}

.card-footer {
  border-top: 1px solid hsl(0, 11%, 89%);
  display: flex;
  padding: 0 25px;
}
.card-footer .item {
  flex: 1;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-footer .item .value {
  font-size: 1.1rem;
  margin-bottom: 6px;
}

.card-footer .item .meta {
  font-size: 0.6rem;
  letter-spacing: 1px;
}

/* CIRCLES */

.circles .c1,
.circles .c2 {
  position: absolute;
  animation: 2s circles forwards;
  opacity: 0;
}

.circles .c1 {
  top: -300px;
  left: 100px;
  transform: translate(-100px, -50px);
}

.circles .c2 {
  bottom: -300px;
  right: 100px;
  transform: translate(100px, 50px);
}

@keyframes circles {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
